<style>
  input {
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: none;
  }
  button {
    width: 100%;
    padding: 10px;
    background-color: rgb(28, 27, 27);
    color: white;
    border: none;
  }
  .main {
    border-radius: 10px;
    width: 38%;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    background-color: burlywood;
    align-items: center;
  }
  h5 {
    font-size: 17px;
  }
  @media only screen and (max-width: 900px) {
    .main {
      width: 70%;
    }
  }
</style>
<body style="margin: 0px; background-color: black">
  <div class="main">
    <form action="/login" method="POST">
      <div style="padding: 10px">
        <center><h1>LOGIN</h1></center>
        <span> <% if(messages.error){%> <%= messages.error%> <%}%></span>
        <br />

        <input
          type="email"
          id="email"
          name="email"
          placeholder="email"
          required
        /><br /><br />

        <input
          type="password"
          id="password"
          name="password"
          placeholder="password"
          required
        /><br /><br />
        <button type="submit">login</button>
      </div>
      <h5 style="text-align: center">
        Not have an account <a href="/register">Register</a>
      </h5>
    </form>
  </div>
</body>
